.filters-section {
    width: 250px;
    padding: 20px;
    background-color: #f5f5f5 !important;
    border: none;
}

.filters-section label {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}

/* Styles pour les statuts de payment */
.paid {
    color: #4CAF50;
}

.partially-paid {
    color: #ff9800;
}

.unpaid {
    color: #f44336;
}

.paid-too-much {
    color: #6536f4;
}

.player-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.player-tooltip {
    margin-right : 10%
}

.player-column,
.details-column {
    width: 20%;
}

.ranking-column,
.category-column,
.amount-column,
.paid-column,
.payment-date-column {
    width: 10%;
}

.player-column,
.ranking-column,
.category-column,
.amount-column,
.paid-column,
.payment-date-column,
.details-column {
    text-align: center !important;
}

.ant-table-cell {
    text-align: unset;
}

tr:not(:hover) td.ant-table-column-sort {
    background: unset !important;
}

th.ant-table-column-sort:not(:hover) {
    background: #fafafa !important;
}

.player-layout {
    font-family: Arial, sans-serif;
}

.player-layout h2, .player-layout h3 {
    margin: 10px 0;
    text-align: center;
}

.ant-layout {
    font-size: unset !important;
}