.detail-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.detail-modal th {
    background-color: #f5f5f5;
}

.detail-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    height: 90vh;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE et Edge */
    scrollbar-width: none; /* Firefox */
}

.detail-header {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

.close-button-detail {
    position: absolute;
    right: 0px;
    color: #333 !important;
    background: transparent !important;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: -15px;
}

.detail-table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}

.detail-table th, .detail-table td {
    text-align: center; 
    padding: 10px; 
}

.detail-th, .detail-td {
    border: 1px solid #888; 
    text-align: center; 
}

.detail-td {
    padding: 5px;
}

.detail-th {
    background-color: #f2f2f2; 
    padding: 10px;
}

.detail-title {
    text-align: center; /* Centre le texte */
    margin-bottom: 20px; /* Ajoute un espace en bas si nécessaire */
    width: 100%;
}

.detail-subtitle {
    text-align: center; /* Centre le texte */
    margin: 20px 0; /* Ajoute un espace au-dessus et en dessous si nécessaire */
}

.detail-summary {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Espacement uniforme entre les éléments */
    align-items: center; /* Aligne les éléments verticalement au centre */
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}


.detail-payments-section {
    margin: 20px 0;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 30px;
}

/* Style pour les flèches */
.arrow-button-detail {
    background-color: transparent; /* Pas de fond */
    color: gray; /* Couleur de la flèche */
    border: none; /* Pas de bordure */
    padding: 10px;
    font-size: 30px; /* Augmenter la taille de la police des flèches */
    cursor: pointer;
    border-radius: 8px; /* Optionnel, si tu veux des coins arrondis */
    transition: color 0.3s; /* Animation pour le changement de couleur */
}

/* Changer la couleur lors du survol */
.arrow-button-detail:hover {
    color: #333; /* Couleur plus foncée lors du survol */
}

.arrow-button-detail:disabled {
    color: #666; /* Couleur du texte grise */
    cursor: not-allowed; /* Change le curseur pour indiquer que l'élément est désactivé */
    opacity: 0.6; /* Réduit l'opacité pour un effet de grisage */
}

.switch-container-detail {
    text-align: center;
    align-items: center; /* Aligne les éléments verticalement au centre */
    width: 100%;
}

.switch-detail {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch-detail input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-detail {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 28px;
}

.slider-detail:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider-detail {
    background-color: #2196F3;
}

input:checked + .slider-detail:before {
    transform: translateX(22px);
}

.switch-label-before-detail {
    margin-right: 8px;
}

.switch-label-after-detail {
    margin-left: 8px;
}

.count-registration-section {
    text-align: center;
    margin-top: 40px;
}

.count-registration-label {
    width: 25%;
    text-align: left;
}

.count-registration-total-label {
    width: 25%;
    text-align: left;
    font-weight: bold;
    margin-top: 50px;
}

.count-input {
    width: 5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.count-input::-webkit-inner-spin-button,
.count-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.green-label {
    color: green;
    font-weight: bold;
}

.red-label {
    color: red;
    font-weight: bold;
}

.blue-label {
    color: blue;
    font-weight: bold;
}