body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Police moderne */
    background-color: #f4f4f9; /* Couleur de fond douce */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 24px;
    color: #333; /* Couleur de texte sombre */
}

.content-header h2 {
    text-align: center; /* Centre le texte */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime le padding par défaut */
}

.availability-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    margin: auto;
}

.player-input {
    width: 250px; /* Ajuste selon vos besoins */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transition douce */
    outline: none; /* Enlève l'effet de focus par défaut */
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.player-input:focus {
    border-color: #66afe9; /* Changer la couleur de la bordure au focus */
    box-shadow: 0 4px 12px rgba(0, 106, 255, 0.3); /* Ombre plus prononcée au focus */
}

.player-table-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}

.player-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.player-table th,
.player-table td {
    padding-left: 0px;
    padding-right: 0px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.player-table th {
    font-weight: 600;
}

.player-table tbody tr:hover {
    background-color: #f8f8f8;
}

.player-remove,
.player-comment,
.player-info {
    width: 4%;
}

.player-name {
    width: 27%; /* Nom du joueur */
    margin-left: 10px;
    text-align: left !important;
    padding-left: 20px !important;
}

.player-availability {
    width: 20%;
    margin-left: 10px;
}

.availability-actions {
    width: 1%; /* Check/Croix */
}

.player-table-container select {
    appearance: none; /* Supprime l'apparence par défaut du select */
    -webkit-appearance: none; /* Pour Safari */
    -moz-appearance: none; /* Pour Firefox */
    border: none; /* Supprime la bordure */
    background: transparent; /* Supprime le fond */
    font-size: inherit; /* Hérite de la taille de la police du parent */
    padding: 0; /* Ajoute du padding pour un meilleur espacement */
    margin: 0; /* Supprime la marge */
    cursor: pointer; /* Change le curseur pour indiquer qu'il est cliquable */
    width: 100%; /* S'assure que le select prend toute la largeur disponible */
    /*height: 40px; /* Hauteur fixe pour un meilleur alignement */
    text-align: center; /* Centre le texte */
    transition: border-color 0.3s ease; /* Transition pour la bordure */
}

.player-table-container select:focus {
    outline: none; /* Supprime le contour par défaut */
    box-shadow: none; /* Supprime l'ombre si présente */
}

.player-table-container select option {
    background-color: white; /* Fond blanc pour les options */
    color: #333; /* Couleur de texte sombre */
    padding: 10px; /* Espacement interne pour les options */
}

.player-table-container select:disabled {
    color: #333; /* Couleur de texte sombre */
    cursor: default;
}

.calendar-container {
    padding-top: 25px;
}

.suggestion-list {
    position: absolute; /* Superpose la liste au-dessus des autres éléments */
    width: 15%; /* S'ajuste à la largeur de l'input */
    background-color: white; /* Couleur de fond */
    border-radius: 8px; /* Arrondir les angles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
    max-height: 150px; /* Limiter la hauteur avec un défilement */
    overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */
    z-index: 1000; /* Assure que la liste apparaisse au-dessus des autres éléments */
    margin-top: 50px;
}

.suggestion-list div {
    padding: 10px; /* Espacement interne pour chaque élément */
    cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
    transition: background-color 0.3s; /* Transition pour le survol */
}

.suggestion-list div:hover {
    background-color: #f0f0f0; /* Couleur de survol */
    border-radius: 8px; /* Arrondir les angles au survol */
}

.remove-player {
    cursor: pointer; /* Change le curseur pour indiquer qu'il est cliquable */
    color: red; /* Couleur de la croix */
    font-size: 20px; /* Taille de la croix */
    transition: color 0.3s ease, transform 0.3s ease; /* Transition douce pour la couleur et la taille */
}

.remove-player:hover,
.remove-player:focus {
    transform: scale(1.2); /* Augmente la taille de la croix au survol */
}

.availability-actions {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
}

.available-player {
    color: green; /* Couleur verte pour le bouton */
    font-size: 20px; /* Taille du bouton */
    cursor: pointer; /* Change le curseur pour indiquer qu'il est cliquable */
    transition: transform 0.3s; /* Transition douce pour le survol */
}

.available-player:hover {
    transform: scale(1.2); /* Agrandit le bouton au survol */
}

.unavailable-player {
    color: red; /* Couleur rouge pour la croix */
    font-size: 12px; /* Taille de la croix */
    cursor: pointer; /* Change le curseur pour indiquer qu'il est cliquable */
    transition: transform 0.3s; /* Transition douce pour le survol */
}

.unavailable-player:hover {
    transform: scale(1.2); /* Agrandit la croix au survol */
}

/* Style pour les flèches */
.arrow-button {
    background-color: transparent; /* Pas de fond */
    color: gray; /* Couleur de la flèche */
    border: none; /* Pas de bordure */
    padding: 10px;
    font-size: 30px; /* Augmenter la taille de la police des flèches */
    cursor: pointer;
    border-radius: 8px; /* Optionnel, si tu veux des coins arrondis */
    transition: color 0.3s; /* Animation pour le changement de couleur */
}

/* Changer la couleur lors du survol */
.arrow-button:hover {
    color: #333; /* Couleur plus foncée lors du survol */
}

.arrow-button:disabled {
    color: #666; /* Couleur du texte grise */
    cursor: not-allowed; /* Change le curseur pour indiquer que l'élément est désactivé */
    opacity: 0.6; /* Réduit l'opacité pour un effet de grisage */
}

.header {
    background-color: #f0f0f0; /* Couleur de fond pour l'en-tête */
    font-weight: bold; /* Met le texte en gras */
}