.account-tab {
    font-family: Arial, sans-serif;
}

.account-tab h2, .account-tab h3 {
    margin: 10px 0;
    text-align: center;
}

.day-item {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px auto;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 0.9em;
    padding: 4px 16px !important;
    justify-content: center !important;
}

.day-item:hover {
    background-color: #e0e0e0;
}

.no-top-padding .ant-card-body{
    padding-top: 0 !important;
}

.no-bottom-padding .ant-card-body{
    padding-bottom: 0 !important;
}

.account-card-content-top {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.account-card-content-bottom {
    text-align: center;
}

.days-grid {
    display: grid;
    gap: 8px; /* Espacement entre les éléments */
    width: 50%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Colonnes dynamiques */
    margin: auto;
}

.benefit-text,
.withdrawn-text {
    font-size: 1.6em;
}