.calendar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Style pour les flèches */
.arrow-button {
    background-color: transparent; /* Pas de fond */
    color: gray; /* Couleur de la flèche */
    border: none; /* Pas de bordure */
    padding: 10px;
    font-size: 30px; /* Augmenter la taille de la police des flèches */
    cursor: pointer;
    border-radius: 8px; /* Optionnel, si tu veux des coins arrondis */
    transition: color 0.3s; /* Animation pour le changement de couleur */
}

/* Changer la couleur lors du survol */
.arrow-button:hover {
    color: #333; /* Couleur plus foncée lors du survol */
}

.arrow-button:disabled {
    color: #666; /* Couleur du texte grise */
    cursor: not-allowed; /* Change le curseur pour indiquer que l'élément est désactivé */
    opacity: 0.6; /* Réduit l'opacité pour un effet de grisage */
}

/* Style pour le date picker */
#datePicker {
    padding: 5px;
    font-size: 30px; /* Augmenter la taille de la police du calendrier */
    border: none; /* Pas de bordure */
    outline: none; /* Pas de contour lors de la sélection */
    box-shadow: none; /* Pas d'ombre */
    background-color: #f4f4f9;
}

/* Ajout de marges pour éloigner les flèches du calendrier */
#prevDay {
    margin-right: 50px; /* Espace à droite de la flèche gauche */
}

#nextDay {
    margin-left: 50px; /* Espace à gauche de la flèche droite */
}

/* Style pour le texte de planning */
.planning-text {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.schedule-list {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 1px solid #ccc; /* Bordure autour du tableau */
    border-radius: 8px; /* Coins arrondis */
    overflow: hidden; /* Empêche le débordement */
    background-color: #fff; /* Fond blanc pour le tableau */
}
    
.schedule-table {
    list-style: none; /* Enlève les puces */
    padding: 0; /* Enlève le padding par défaut */
    margin: 0; /* Enlève la marge par défaut */
}

.header {
    background-color: #f0f0f0; /* Couleur de fond pour l'en-tête */
    font-weight: bold; /* Met le texte en gras */
}

.header span {
    display: inline-block; /* Utilise un affichage en bloc */
    width: 15%; /* Largeur des colonnes pour l'en-tête */
    padding: 10px; /* Ajoute du padding */
}

.schedule-list li {
    display: flex; /* Utilise Flexbox pour le layout */
    border-bottom: 1px solid #ccc; /* Ligne de séparation entre les lignes */
    justify-content: space-between; /* Espace entre les colonnes */
    align-items: center; /* Centre verticalement les éléments de chaque ligne */
    line-height: 2; /* Ajuste la valeur pour augmenter ou diminuer la hauteur */
    padding: 10px 0;
    /*transition: background-color 0.3s; /* Transition pour le survol TODO*/ 
}

.schedule-list li span {
    display: inline-block; /* Utilise un affichage en bloc */
    margin: 0; /* Supprime la marge entre les spans */
    padding: 0; /* Supprime le padding entre les spans */
}

/* Ajuster la largeur des colonnes */
.schedule-list li span:nth-child(1) {
    width: 17%; /* Horaire */
}

.schedule-list li span:nth-child(2) {
    width: 8%; /* Court */
}

.schedule-list li span:nth-child(3) {
    width: 20%; /* Joueur 1 - largeur augmentée */
}

.schedule-list li span:nth-child(4) {
    width: 20%; /* Joueur 2 - largeur augmentée */
}

.schedule-list li span:nth-child(5) {
    width: 25%; /* Résultat */
}

.schedule-list li span:nth-child(6) {
    width: 10%; /* Modifier */
}

.schedule-list li .full-width:nth-child(1) {
    width: 100%;
}

/* Optionnel : Style pour les lignes paires */
.schedule-list li:nth-child(even) {
    background-color: #f9f9f9; /* Couleur de fond pour les lignes paires */
}

.gray-button {
    background-color: #ccc; /* Couleur de fond grise */
    border: none;
    border-radius: 8px;
    padding: 2px 10px;
    cursor: pointer;
    margin-left: 10px; /* Espace entre le texte et le bouton */
    font-size: 14px;
}

.gray-button:hover {
    background-color: #bbb; /* Couleur de fond plus foncée au survol */
}

.gray-button:disabled {
    background-color: #eee; /* Couleur de fond pour le bouton désactivé */
    cursor: not-allowed; /* Change le curseur pour indiquer que le bouton est désactivé */
}