.app-container {
    display: flex; /* Utilisez flexbox pour aligner le sidebar et le contenu */
}

.sidebar {
    width: 70px; /* Largeur du menu latéral */
}

.content {
    margin-left: 70px; /* Laissez de l'espace pour le menu latéral */
    padding: 20px; /* Ajoutez un peu de remplissage pour le contenu */
    width: calc(100% - 70px); /* Ajustez la largeur pour le contenu */
    background-color: #f4f4f9; /* Couleur de fond pour le contenu */
}